# Statistiques descriptives que sur 2023

Le but de ce Notebook est de commencer à appréhender les bases de données des fréquentations : à savoir de les reformater et d'en tirer des premières observations.

In [4]:
# import des packages
from donnees_IDFM import donnees_archives, donnees_validation_23, donnees_profils_23
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# importation des deux bases de données 2023
validations_23=donnees_validation_23()
profils_23=donnees_profils_23()

# 1. statistiques descriptives sur la base de données des validations

In [17]:
validations_23.head(10)

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,lda,CATEGORIE_TITRE,NB_VALD
0,2023-06-26,800,853,568,MONTSOULT,67000,?,28
1,2023-06-26,800,853,568,MONTSOULT,67000,AMETHYSTE,9
2,2023-06-26,800,853,568,MONTSOULT,67000,IMAGINE R,388
3,2023-06-26,800,853,568,MONTSOULT,67000,TST,114
4,2023-06-26,800,853,595,NOINTEL MOURS,67227,?,8
5,2023-06-26,800,853,595,NOINTEL MOURS,67227,FGT,12
6,2023-06-26,800,853,595,NOINTEL MOURS,67227,NAVIGO,312
7,2023-06-26,800,853,595,NOINTEL MOURS,67227,TST,42
8,2023-06-26,800,853,63,BELLOY ST MA,67126,TST,5
9,2023-06-26,800,853,637,PERSAN BEAUMONT,67292,FGT,181

In [18]:
validations_23.tail(10)

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,lda,CATEGORIE_TITRE,NB_VALD
1096199,2023-01-20,800,854,507,MANTES LA JOLIE,65931,NON DEFINI,7
1096200,2023-01-20,800,854,527,MAURECOURT,65827,IMAGINE R,258
1096201,2023-01-20,800,854,541,MEULAN,66321,AMETHYSTE,16
1096202,2023-01-20,800,854,541,MEULAN,66321,NON DEFINI,9
1096203,2023-01-20,800,854,541,MEULAN,66321,TST,79
1096204,2023-01-20,800,854,557,MONTGEROULT,67076,NAVIGO,16
1096205,2023-01-20,800,854,566,MONTREUIL,63989,NON DEFINI,27
1096206,2023-01-20,800,854,579,NANTERRE UNIVER,70956,AMETHYSTE,5
1096207,2023-01-20,800,854,58,BECON,72124,AMETHYSTE,84
1096208,2023-01-20,800,854,58,BECON,72124,FGT,96

In [27]:
validations_23.shape

(1096209, 8)

Nous avons donc 1 096 209 lignes (nombre de données) et 8 colonnes (ie 8 variables)

In [28]:
validations_23.columns

Index(['JOUR', 'CODE_STIF_TRNS', 'CODE_STIF_RES', 'CODE_STIF_ARRET',
       'LIBELLE_ARRET', 'lda', 'CATEGORIE_TITRE', 'NB_VALD'],
      dtype='object')

Nos 8 variables sont les suivantes : la date exacte du jour de l'année 2023, des variables d'identification de la ligne, le libellé de l'arrêt puis son identifiant dans la base de données de référence en IDF (ID_REFA_LDA), la catégorie du titre de validation, et enfin, le nombre de validations. 

Quelques précisions sur le nom des colonnes : 
- CODE_STIF_TRNS est le code correspondant au transporteur
- CODE_STIF_RES est le code correspondant au réseau
- CODE_STIF_ARRET est le code correspondant à l'arrêt

In [31]:
validations_23.dtypes

JOUR               object
CODE_STIF_TRNS      int64
CODE_STIF_RES      object
CODE_STIF_ARRET    object
LIBELLE_ARRET      object
lda                 int64
CATEGORIE_TITRE    object
NB_VALD             int64
dtype: object

In [48]:
# nombre et liste des valeurs distinctes par variable

for colonne in validations_23.columns:
    nombre_distinct = validations_23[colonne].nunique()
    
    if nombre_distinct <= 15: #borne de 15 choisie après une première observation du nombre de variables différentes pour chaque variable et pour avoir des groupes cohérents
        valeurs_distinctes = validations_23[colonne].unique()
        
        print(f"Nombre de valeurs distinctes dans '{colonne}' est :", nombre_distinct)
        print(f"Liste des valeurs distinctes dans '{colonne}' est :", valeurs_distinctes)
        print()

    else :
        print(f"Nombre de valeurs distinctes dans '{colonne}' est :", nombre_distinct)
        print()

# première version :

#l1 = ['JOUR', 'CODE_STIF_ARRET', 'LIBELLE_ARRET', 'lda', 'NB_VALD']
#l2 = ['CODE_STIF_TRNS', 'CODE_STIF_RES', 'CATEGORIE_TITRE'] 
        
#for colonne in l2:
    #nombre_distinct = validations_23[colonne].nunique()
    #valeurs_distinctes = validations_23[colonne].unique()
    
    #print(f"Nombre de valeurs distinctes dans '{colonne}' est :", nombre_distinct)
    #print(f"Liste des valeurs distinctes dans '{colonne}' est :", valeurs_distinctes)
    #print()

#for colonne in l1:
    #nombre_distinct = validations_23[colonne].nunique()
    
    #print(f"Nombre de valeurs distinctes dans '{colonne}' est :", nombre_distinct)
    #print()

Nombre de valeurs distinctes dans 'JOUR' est : 181

Nombre de valeurs distinctes dans 'CODE_STIF_TRNS' est : 3
Liste des valeurs distinctes dans 'CODE_STIF_TRNS' est : [800 810 100]

Nombre de valeurs distinctes dans 'CODE_STIF_RES' est : 13
Liste des valeurs distinctes dans 'CODE_STIF_RES' est : ['853' '854' '801' '802' '110' 'ND' '800' '803' '804' '805' '850' '851'
 '852']

Nombre de valeurs distinctes dans 'CODE_STIF_ARRET' est : 756

Nombre de valeurs distinctes dans 'LIBELLE_ARRET' est : 747

Nombre de valeurs distinctes dans 'lda' est : 726

Nombre de valeurs distinctes dans 'CATEGORIE_TITRE' est : 9
Liste des valeurs distinctes dans 'CATEGORIE_TITRE' est : ['?' 'AMETHYSTE' 'IMAGINE R' 'TST' 'FGT' 'NAVIGO' 'NAVIGO JOUR'
 'NON DEFINI' 'AUTRE TITRE']

Nombre de valeurs distinctes dans 'NB_VALD' est : 16101

On voit qu'on a deux types de variables : 
- des variables qui ont peu de valeurs distinctes : CODE_STIF_TRNS, CODE_STIF_RES et CATEGORIE_TITRE
- et les autres : JOUR, CODE_STIF_ARRET, LIBELLE_ARRET, lda, NB_VALD

On s'attendait à ce découpage là car : 
- il y a peu de transporteurs opérant sur le réseau ferré en IDF, et peu de réseaux représentés dans notre base de donnée (métro, transilien, RER) (*Note à moi même : aller chercher la base des stif et comprendre pourquoi 13 réseaux alors que théoriquement : RER, métro, transilien*), et finalement assez peu de catégories de titre (même si on n'en imaginait pas 9).
- beaucoup de jour dans le premier semestre de l'année 2023, beaucoup d'arrêt sur tout le réseau (*Note à moi même : aller chercher la base des stif et comprendre pourquoi le nombre de données pour les manières de définir les arrêt varie un peu : erreur ? ou signification des variables ?*), et évidemment beaucoup de nombre de validations par jour différents. 

Cette étape permet surtout de répérer les valeurs correspondants à des valeurs manquantes pour les variables avec peu de valeurs différentes.
- pour **CODE_STIF_TRNS** : aucune valeur ne semble manquer
- pour **CODE_STIF_RES** : seule la valeur **'ND'**, probablement pour non-défini semble correspondre à une valeur manquante
- pour **CATEGORIE_TITRE** : la valeur **'?'** et **'NON DEFINI'** semblent correspondre à une valeur manquante

Quelques précisions sur les différentes catégories de titre : 
- **IMAGINE R** : regroupe les forfaits annuels Imagine R Scolaire et Imagine R Etudiant, forfaits réservés aux élèves, apprentis et étudiants qui permet de voyager à volonté toute l’année et dans toute l Ile-de-France.
- **NAVIGO** : regroupe les forfaits Navigo Annuel, Navigo Mois et Navigo Semaine.
- **AMETHYSTE** : comptabilise les forfaits Améthyste : forfait réservé aux personnes âgées ou handicapées sous conditions de ressources ou de statut, et résidant en Île-de-France. Ce forfait
annuel permet à son bénéficiaire de se déplacer de manière illimitée sur tous les modes de transport à l intérieur des zones de validité.
- **TST** : regroupe les forfaits hebdomadaires et mensuels à tarif réduit, accordé aux bénéficiaires
de la Réduction Solidarité Transport, pour voyager à l’intérieur des zones choisies sur tous les
modes de transport en Île-de-France.
- **FGT** : comptabilise les Forfaits Navigo Gratuité Transport, forfait qui permet à certain bénéficiaire d’aides sociales de voyager gratuitement dans toute l’Île-de-France.
- **AUTRE TITRE** : comptabilise les forfaits spéciaux.
- **NON DEFINI** : comptabilise les validations dont le type de titre n’est pas défini (anomalies).

In [54]:
#compter les valeurs manquantes pour chaque variable pour les remplacer par qqch ou les exclure

l3 = ['CODE_STIF_RES', 'CATEGORIE_TITRE'] 

for colonne in l3:
    occurrences_par_valeur = validations_23[colonne].value_counts()
    print(occurrences_par_valeur)

# première version : 
#for colonne in validations_23.columns:
    #nombre_vnulles = validations_23[colonne].isna().sum()
    
    #print(f"La variable '{colonne}' compte :", nombre_vnulles, f"valeurs nulles")
    #print()

# >> n'a pas d'intérêt pour l'instant car pour Python : aucun NA, 
# car les valeurs manquantes sont enregistrées autrement qu'avec des NA.

CODE_STIF_RES
110    498168
803     95428
854     90356
801     67392
802     65039
804     64473
853     61796
852     43451
850     35045
805     30199
800     22847
851     20945
ND       1070
Name: count, dtype: int64
CATEGORIE_TITRE
NAVIGO         136478
IMAGINE R      136047
TST            133601
FGT            132027
AMETHYSTE      129237
?              129062
NON DEFINI     120038
NAVIGO JOUR    116071
AUTRE TITRE     63648
Name: count, dtype: int64

On constate que : 
- la valeur **'ND'** pour la variable **CODE_STIF_RES** est assez faiblement représentée : on peut l'enlever sans perdre trop d'information.
- la valeur **'?'** est autant représentée que la valeur **'NON DEFINI'** pour la variable : elles sont autant présentes que d'autres valeurs. De plus, cette variable a un type chaîne de caractère ('str'): on ne veut pas et on n'a pas besoin de la transformer en variable numérique, donc on peut conserver la valeur non-définie. 

**CCL** : on décide de traiter ces deux types de valeurs manquantes différemment : on retire du dataset toutes les valeurs avec 'ND' pour la variable CODE_STIF_RES, et pour '?', on va les transformer en valeur 'NON DEFINI'.

In [55]:
# transformation des variables en excluant / transformant les valeurs prises (tr pour transformé)

# CODE_STIF_RES
validations_23_tr1 = validations_23[validations_23['CODE_STIF_RES'] != 'ND']

# CATEGORIE_TITRE
validations_23_tr = df.loc[condition, 'Colonne1'] = nouvelle_valeur

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,lda,CATEGORIE_TITRE,NB_VALD
0,2023-06-26,800,853,568,MONTSOULT,67000,?,28
1,2023-06-26,800,853,568,MONTSOULT,67000,AMETHYSTE,9
2,2023-06-26,800,853,568,MONTSOULT,67000,IMAGINE R,388
3,2023-06-26,800,853,568,MONTSOULT,67000,TST,114
4,2023-06-26,800,853,595,NOINTEL MOURS,67227,?,8
5,2023-06-26,800,853,595,NOINTEL MOURS,67227,FGT,12
6,2023-06-26,800,853,595,NOINTEL MOURS,67227,NAVIGO,312
7,2023-06-26,800,853,595,NOINTEL MOURS,67227,TST,42
8,2023-06-26,800,853,63,BELLOY ST MA,67126,TST,5
9,2023-06-26,800,853,637,PERSAN BEAUMONT,67292,FGT,181

In [26]:
# transformation du type de certaines variables pour pouvoir les manipuler plus facilement

#validations_23['CODE_STIF_RES'] = validations_23['CODE_STIF_RES'].astype(int)
#validations_23['CODE_STIF_ARRET'] = validations_23['CODE_STIF_ARRET'].astype(int)
#validations_23['LIBELLE_ARRET'] = validations_23['LIBELLE_ARRET'].astype(str)

# erreur : dnas la colonne code_stif_res : une valeur est ND à un moment : Python ne peut pas la transformer en type integer

In [ ]:
# répartition de la variable NB_VALD

In [ ]:
# faire une carte de l'importance de la fréquentation en semaine puis en week-end

*Note à moi-même : inutile ici, mais utile dans la présentation des données : à remettre ailleurs*

Quelques précisions sur les données de validations afin de bien comprendre la manière dont on pourrait utiliser cette base.

Les données de validations ne comptabilisent pas :
- les tickets magnétiques (par exemple, les ticket T+, Forfait Mobilis, Forfait Paris Visite, etc.)
- les usagers qui ne valident pas à la montée dans un bus ou tram, ou en entrant dans une gare (par exemple si le quai est
accessible sans passer par une barrière de contrôle, ou si les barrières de contrôle sont indisponibles en raison de travaux, etc. )
- les fraudeurs

… et donnent donc une vision incomplète du trafic sur le réseau de transport.
*(Note à nous-même : à rajouter dans la conclusion, dans les limites)*

La base de données ci-dessus est tirée d'une base de données elle-même composée :
- du **réseau ferré** (RER, métro, transilien), qui est caractérisé par des **arrêts** 
- du réseau dit de **"lignes administratives"** (bus, tram), aussi appelé **réseau de surface**, qui est caractérisé par des **lignes**

Cela génère une différence dans le type de validation :
- les validations du **réseau ferré** sont rattachées à une **station**
- les validations du **réseau de surface** sont rattachées à une **ligne** (car les valideurs sont embarqués dans les véhicules et donc mobiles).

**Qu'est-ce qu'une ligne ?**
Dans les données de validation, la notion de ligne regroupe un ensemble d’arrêts prédéfinis par l’offre de transport. Elle est identifiée par un nom de ligne et un identifiant de ligne.

**Qu'est-ce qu'un arrêt ?**
Dans les données de validation, un arrêt est le lieu où le voyageur valide son titre de transport sur le réseau ferré (i.e. dans une station de métro ou une gare). Il est identifié par un nom d’arrêt et un identifiant de l’arrêt.

**Conclusion** : dans notre base de donnée à nous, nous n'avons **que les validations du réseau ferré**, et donc **par arrêt**.